<app-navigation></app-navigation>

<div class="container mt-4">


  <div class="columns">

    <div class="primary" *ngIf="video">


      <div style="padding:56.25% 0 0 0;position:relative;" #box>
        {{ video.url }}
      </div>

      <h1 class="title">{{video.title}}</h1>
      <p class="description">{{video.description}}</p>

      <div class="actions">

      <a routerLink="/edit-video/{{video.id}}">
        <button class="btn btn-primary" name="button">
          Editar video
        </button>
      </a>

      <a (click)="deleteVideo()">
        <button class="btn btn-primary" name="button">
          Eliminar
        </button>
      </a>

    </div>


    </div>

    <div class="secondary">

    </div>

  </div>


</div>
