<app-navigation></app-navigation>

<div class="container mt-4">


  <div class="columns">

    <div class="primary">

      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe src="https://player.vimeo.com/video/574930563?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Introduccion al desarrollo web"></iframe></div>


      <h1 class="title">{{video.title}}</h1>
      <p class="description">{{video.description}}</p>

      <div class="actions">

      <a routerLink="/edit-video/{{video.id}}">
        <button class="btn btn-primary" name="button">
          Editar video
        </button>
      </a>

      <a (click)="deleteVideo()">
        <button class="btn btn-primary" name="button">
          Eliminar
        </button>
      </a>

    </div>


    </div>

    <div class="secondary">

    </div>

  </div>


</div>
