
.gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 1068px){
  .gallery{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 968px){
  .gallery{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 590px){
  .gallery{
    grid-template-columns: 1fr;
  }
}
