.video-card{
  width: 100%;
  margin-bottom: 15px;
}

.video-card img{
  width: 100%;
  cursor: pointer;
}

.video-card .description{
  margin-left: 12px;
}

.video-card .description h4{
  margin: 0;
  font-size: 1rem;
  line-height: 2rem;
  max-height: 4rem;
  color: #000;

}

.miniatura{
  position: relative;
}

.duration{
  width: auto;
  height: 20px;
  background: #000000b3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 0;
  padding: 0 10px;
}

a{
  text-decoration: none;
}

.video-card .description p{
  margin: 0;
  font-style: normal;
  font-weight: 200;
  color: #606060;
}

.video-card .content .user{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.video-card .content{
  display: flex;
  margin-top: 10px;
}
