<div class="video-card">
  <div class="miniatura">
    <img src="assets/images/01.jpg" alt="">

    <div class="duration">
      <p>3:00</p>
    </div>
  </div>


  <div class="content">
    <img class="user" src="assets/images/01.jpg" alt="">


    <div class="description">
      <a href="#">
        <h4>
          Store Wide Sale - Up to 95% Off
        </h4>
      </a>

      <p>
        Learn Python, Excel, Web Development, JavaScript, Data Science, AWS Certification, & more.
        <br>
        <br>
        Hace 2 años
      </p>
    </div>

  </div>
</div>
