<app-navigation></app-navigation>

<div class="container container-form">

  <form class="form-video" [formGroup]="videoForm" (submit)="submit(videoForm.value)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">
        Titulo
      </label>

      <input type="text" class="form-control" formControlName="title">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">
        Descripcion
      </label>

      <input type="text" class="form-control" formControlName="description">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">
        Miniatura
      </label>

      <input type="text" class="form-control" formControlName="miniatura">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">
        Url
      </label>

      <input type="text" class="form-control" formControlName="url">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">
        User image
      </label>

      <input type="text" class="form-control" formControlName="user_image">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">
        Duracion
      </label>

      <input type="text" class="form-control" formControlName="duration">
    </div>


    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">
        Datetime
      </label>

      <input type="text" class="form-control" formControlName="datetime">
    </div>



    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">
        Status
      </label>

      <input type="text" class="form-control" formControlName="status">
    </div>


    <button type="submit" class="btn btn-primary" >
      Crear
    </button>
</form>

</div>
